
@{
    ViewBag.Title = "AttendanceLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    using (Ajax.BeginForm("GetAttendanceLog", "Attendance", new AjaxOptions()
    {
        OnBegin = "ldpAttendance.Show()",

        OnComplete = "RefreshGrid()"
    }))
    {


        <div class="row margin-bottom-10">
            <div class="col-lg-3">
                @{
                    Html.DevExpress().DateEdit(settings =>
                    {
                        settings.Name = "dateFrom";


                    }).GetHtml();
                }
            </div>
            <div class="col-lg-3">
                @{
                    Html.DevExpress().DateEdit(settings =>
                    {
                        settings.Name = "dateTo";

                    }).GetHtml();
                }

            </div>
            <div class="col-lg-3">
                @{
                    Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "btnRetrienveAttendance";
                        settings.UseSubmitBehavior = true;
                        settings.Text = "Retrieve Attendance";

                        //settings.ControlStyle.CssClass = "pull-right margin-bottom-10";
                    }).GetHtml();
                }
            </div>
        </div>


    }

}
<div class="clearfix"></div>




@Html.Action("AttendanceLogGridViewPartial")

@{
    Html.DevExpress().LoadingPanel(settings =>
    {
        settings.Name = "ldpAttendance";
        settings.Modal = true;


    }).GetHtml();
}

<script>
    function RefreshGrid() {
        ldpAttendance.Hide();
        AttendanceLogGridView.PerformCallback();

    }
</script>