@model Users
@{
    ViewBag.Title = "Applicant Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-body padding-all-10">
    <p class="empty-space-12"></p>
    <p class="section-title"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><strong> Basic Information</strong></p>

    @{
        Html.DevExpress().PageControl(settings =>
        {
            settings.Name = "ResumePageControl";
            settings.Width = Unit.Percentage(100);
            settings.TabPages.Add("Basic Information").SetContent(() =>
            {
                Html.RenderPartial("_ApplicantBasicInformationPartial", Model);
            });
            settings.TabPages.Add("Educational Attainment").SetContent(() =>
            {
                Html.RenderAction("EducationalAttainmentGridViewPartial", new {userId = Model.Id});
            });
            settings.TabPages.Add("Employment History").SetContent(() =>
            {
                Html.RenderAction("EmploymentHistoryGridViewPartial", new { userId = Model.Id });

            });
        }).GetHtml();

    }

</div>