@model string
<!DOCTYPE html>
<html>
<head>
    <script src="http://portal.northops.asia/Content/js/jquery-3.2.1.js"></script>
    <script src="http://portal.northops.asia/Content/js/log4javascript_lite.js"></script>
    <script src="http://portal.northops.asia/Content/js/main.js"></script>
</head>
<body>
    <label id='modem'></label>

    <script type="text/javascript">

    $(document).ready(function(){
        $('#modem').text(doRSAEncrypt('@Model'));
    })

    </script>

</body>
</html>



