
@{
    ViewBag.Title = "Applicant Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (((ViewBag.Notification as List<EmployeeNotications>) ?? throw new InvalidOperationException()).Any())
{
    <div class="alert alert-info alert-dismissible">
        <h4><i class="icon fa fa-inbox"></i> Important</h4>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @foreach (var i in (List<EmployeeNotications>)ViewBag.Notification)
        {
            <p>@i.Message</p>
        }
    </div>
}
@Html.Action("ApplicantDashboardViewPartial", new { UserId = ViewBag.UserId })
