
@{
                /**/

                ViewBag.Title = "Employee Schedules";
                Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Action("SchedulesGridViewPartial")

























@*
       <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6">
            @Html.Action("cboEmployeesPartial")
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          @Html.DevExpress().Button(btn =>
          {
              btn.Name = "btnCreate";
              btn.Text = "New ";
          }).GetHtml();
        </div>
    </div>
    <div class="row margin-top-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @Html.Action("SchedulerPartial")
        </div>
    </div>

    <script>
        function cboEmployeeOnValueChanged(s, e) {
            console.log(s.GetValue());
            Scheduler.PerformCallback({ UserId: s.GetValue() });
        }
    </script>
*@
