@using (Ajax.BeginForm("ForgotPassword", "Member", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId= "form-forgot-password-modal",
    OnBegin= "ldpLoading.Show()",
    OnComplete= "ldpLoading.Hide()"

},new { id="form-forgot-password-modal"}))
{
    if (!string.IsNullOrEmpty(ViewBag.result))
    {
        <div class="alert alert-success">
            @ViewBag.result
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            @{
                    Html.DevExpress().TextBox(txt =>
                    {
                        txt.Name = "EmailAddress";
                        txt.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        txt.Properties.ValidationSettings.ErrorFrameStyle.Border.BorderColor = System.Drawing.Color.Red;
                        txt.Properties.ValidationSettings.Display = Display.Dynamic;
                        txt.Width = Unit.Percentage(100);
                        txt.Properties.NullText = "Email Address";
                    }).GetHtml();
            }
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            @Html.DevExpress().Button(btn => {
           btn.Name = "btnSendForgotPassword";
           btn.Text = "Send";
           btn.ControlStyle.CssClass = "margin-top-10";
           btn.UseSubmitBehavior = true;
       }).GetHtml()
        </div>
    </div>
}
